<h1><%= @post.title %></h1>
<% if @post.image.attached? %>
  <%= image_tag @post.image.variant(resize: "150x150") %>
<% end %>
<div>
  <%= @post.body %>
</div>
<% if @post.user = current_user %>
  <%= link_to "Edit Post", edit_post_url %>
  <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>